*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  h4 {
    font-size: 3.2rem;
  }
  
  ul, p,a,label,button {
    font-size: 1.8rem;
  }
.main-head{
    background-color: black;
    color: white;  
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    min-height: 10vh;
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0rem;
}

#menu-check{
    display: none;
}
#logo{
    flex: 1 1 20rem;
    font-style: italic;
    
}
nav ul{
    flex: 1 1 20rem;
    display: flex;
    list-style: none;
    justify-content: space-around;  
}
a{
    text-decoration: none;
    color: white;
}
.hero{
    background:linear-gradient(rgba(0,0,0,0.5),transparent),url('./mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    color: chartreuse;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: center; 
}
.hero p{
    text-align: center;
    font-weight: normal;
}
ul{
    list-style: none;
}
button{
    border: none;
    padding:1rem 2rem;
    margin: 2rem;
    background-color: burlywood;
    cursor: pointer;
}
.Benefits{
    align-self: center;
    padding: 1rem;
}
button:hover{
    background-color: rgb(93, 228, 30);
}
.location{
    background:url(./explore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}
.intro-text h1{
    text-decoration: underline;
    padding: 1rem;
    position: relative;
}
.location .intro-text
    {
        width: 95%;
        margin: auto;
        padding: 2rem;
        
    }
    .intro-text p{
        padding: 2rem;
    }
    .cloud{
        position: absolute;
        top: 0%;
        right: 0%;
    }
    .moving-cloud-1{
        animation: cloudAnimation 3s infinite alternate ease-in-out;
    }
    .moving-cloud-2{
        top: 20%;
        /* z-index: -1; */
        opacity: 0.1;
        animation: cloudAnimation 3.5s infinite alternate ease-in-out;
    }
    @keyframes cloudAnimation{
       from{
        transform: translate(0%,0%);
       }
       to{
        transform: translate(10%,0%);
       }
    }
    .benefits{
        background: rgba(53, 53, 54, 0.1);
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./globeplae.svg);
        background-repeat: no-repeat ;
        /* background-size: cover; */
    }
    .benefits header{
        text-align: center;
    }
    .cards{
        min-height: 50vh;
        width: 90%;
       margin: auto;
       display: flex;
       justify-content: space-around;
       align-items: center;
       flex-wrap: wrap;
    }
    .card{
       border: solid 1px black;
       flex: 1 1 25rem;
       margin: 2rem 5rem;
       justify-content: center;
       align-items: center;
       display: flex;
       flex-direction: column;
       text-align: center;
       border: none;
       box-shadow: 4px 3px 3px 2px #E8EFF3;
    }
    .img-cloud{
       max-width: 15%;
       margin: 2rem;
    }
    .card h2, .card p{
        padding: 2rem;
    }
    .img-icon{
        width: 100%;
        justify-content: center;
        align-items: center;
        background: burlywood;
    }
    /* form box */
    .form{
        min-height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem;
    }
    .formwrapper{
       background-color: beige;
       width: 90%;  
       border-radius: 20px;
       
    }
    .form-head h1{
        text-align: center;
        padding: 2rem;
    }
    .text-form, .email-text{
        text-align: center;
        padding: 2rem;
    }
    .contact-button{
        width: 100%;
        margin: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .footer{
        background-color: black;
    }
    .footer-main{
        min-height: 10vh;
        color: white;
        width: 95%;
        margin: 0 0 0 auto;
        display: flex;
        align-items: center;
    }
    .footer-name{
        flex: 1 1 40rem;
    }
    .footer-main ul{
        flex: 1 1 40rem;
        display: flex;
        justify-content: space-evenly;
        
    }
    .footer-section{
        background-color: black;
    }
    @media screen and (min-width:360px) and (max-width:700px){
        .footer-name ul{
            justify-content: space-around;
          
        }
        .footer-main{
            display: grid;
            text-align: center;
        }
        #footer-logo{
            margin: 2rem;
        }
    }
    @media screen and (min-width:320px) and (max-width:568px){
        .name{
            margin: 2rem;
        }
        .footer-main{
            display: grid;
            text-align: center;
        }
        #footer-logo{
            margin: 2rem;
        }
    }
    @media screen and (min-width:768px) and (max-width:1024px){
       
        #logo{
           text-align: center
        }
    }
@media(max-width:504px){
nav{
   text-align: center;
}
html{
    font-size: 45%;
}
#logo{
    padding: 2rem;
}
.cloud{
    min-height: 40rem;
    pointer-events: none;
}
.moving-cloud-1{
    z-index: -1
}
.moving-cloud-1{
    z-index: -2
}
.intro-text p{
    background: rgba(250, 246, 246,0.1);
    padding: 2rem;
    -webkit-text-fill-color: white;
}
}
@media screen and (min-width:360px) and (max-width:1024px){
    #logo{
        display: contents;
    }
}